@font-face {
    font-family: 'Matter Bold';
    src: url("../fonts/MatterSQ-Bold.eot");
    src: url("../fonts/MatterSQ-Bold.eot?#iefix") format("embedded-opentype"),
    url("../fonts/MatterSQ-Bold.woff2") format("woff2"),
    url("../fonts/MatterSQ-Bold.woff") format("woff"),
    url("../fonts/MatterSQ-Bold.ttf") format("truetype");
    font-weight: bold;
    font-style: normal
}
@font-face {
    font-family: 'Matter';
    src: url("../fonts/Matter-Light.eot");
    src: url("../fonts/Matter-Light.eot?#iefix") format("embedded-opentype"),
    url("../fonts/Matter-Light.woff2") format("woff2"),
    url("../fonts/Matter-Light.woff") format("woff"),
    url("../fonts/Matter-Light.ttf") format("truetype");
    font-weight: 300;
    font-style: normal
}

html {
    height: 100%;
    margin: 0;
}

body {
    height: 100%;
    margin: 0;
    font-family: "Matter";
    font-weight: 300;
    font-size: 1.6rem;
    line-height: 2rem;
    background-color: #FFCC00;
}

header {
    height: 100%;
    display: block;
    display: flex;
    flex-wrap: wrap;
}

    .logo-now-play-div {
        width: 54%;
        display: flex;
        flex-wrap: wrap;
        /* background-color: red; */
    }

        .logo-div {
            width: 100%;
            height: 75%;
            padding-left: 22px;
            padding-top: 22px;
            /* background-color: green; */
        }

        .now-play-div {
            width: 100%;
            display: flex;
            flex-direction: column;
            align-items: flex-start;
            align-content: flex-end;
            padding-bottom: 22px;
            padding-left: 22px;
            /* background-color: orange; */
        }
            p {
                margin: 0;
                width: max-content;
                display: block;
            }
            .label {
                text-transform: uppercase;
                font-size: 14px;
                line-height: 30px;
                padding-bottom: 10px;
            }
            .artist {
                font-size: 32px;
                line-height: 30px;
                line-height: 40px;
                font-family: "Matter Bold";
            }
            .song {
                font-family: "Matter";
                font-weight: 300;
            }

    .play-button-div {
        width: 46%;
        height: 100%;
        /* background-color: blue; */
    }

    .play-button-div img {
        height: 100%;
        cursor: pointer;
    }

.yellow-background {
    background-color: #FFCC00;
}

.img-purple-div {
    background-color: #660099;
}

.second-yellow {
    display: flex;
    justify-content: center;
}

.big-text-div {
    width: 65%;
    font-size: 14vw; 
    line-height: 12vw; 
    letter-spacing: -4.25px; 
    font-weight: 1000;
    padding-left: 15px;
}

.first-ul {
    width: 35%;
    padding-right: 20px;
}

.dot-div {
    display: flex;
    justify-content: right;
    padding-top: 30px;
    padding-right: 15px;
}

.first-ul-div {
    width: 100%;
    margin-top: 30%;
}

.section-number {
    font-size: 50px;
    display: inline-block;
}

.section-title {
    font-size: 100px;
    display: inline-block;
    margin-left: 20px;
}

.sect1-song-container, .sect2-song-container, .sect3-song-container {
    width: 100%;
    display: flex;
    align-items: center;
    padding-top: 20px;
    padding-bottom: 20px;
    border-top: 1px solid black;
} 

.song-title {
    width: 50%;
    display: flex;
    justify-content: left;
    font-size: 0.9em;
}

.song-status {
    width: 50%;
    display: flex;
    justify-content: right;
    font-size: 0.6em;
}

.second-htlt {
    margin-top: 5%;
    display: flex;
    justify-content: start;
}

.sec2-ul-cont {
    width: 30%;
    padding-left: 20px;
}

.sec2-img-cont {
    width: 70%;
}

.sec3-header {
    width: 95%;
    margin: auto;
}

.sect3-song-container {
    padding-top: 40px;
    padding-bottom: 40px;
}

.song3-title {
    font-size: 80px;
}

.song3-status {
    font-size: 30px;
}

.double-z-cont {
    margin-top: 40px;
    margin-left: 20px;
    margin-right: 20px;
    display: flex;
    justify-content: space-between;
}

.z-cont {
    width: 49%;
    text-align: center;
}

.second-purple {
    margin-top: 12%;
    text-align: center;
}